body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #18e1bf;
  }
  
  .container {
    max-width: 800px;
    margin: 150px auto;
    background-image: url(todo.jpg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(134, 6, 64, 0);
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-group input, .input-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-right: 10px;
  }
  
  .input-group button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .task-checkbox {
    margin-right: 10px;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .due-date, .priority {
    margin-left: auto;
    font-size: 0.8em;
    color: #df1010;
  }
  
  